<div class="contents">

  <h1>Time Golf</h1>

  <i class="material-icons fullscreen" (click)="openFullscreen()">fullscreen</i>

  <div class="text-block">
      Par {{holePar}}
  </div>
  <div class="text-block">
      {{holeTime}} seconds
  </div>

  <div class="spinner">  
    <div class="spinner-timer" [ngClass]="{'penalty': highlightTime}">{{timerDisplay}}</div>

    <button *ngIf="swingEnabled" mat-fab color="primary" class="swing-button" (click)="swing()">
      <mat-icon>play_arrow</mat-icon>
    </button>

    <div class="spinner-main"> 
      <mat-progress-spinner [value]="spinnerValue" color="primary" [mode]="spinnerMode" diameter="200"> 
        </mat-progress-spinner>
    </div>

    <mat-progress-spinner *ngIf="spinnerPenalty > 0" class="spinner-penalty" [value]="spinnerPenalty" color="warn" diameter="200">
    </mat-progress-spinner>

    <mat-progress-spinner class="spinner-background" [value]="100" color="accent" diameter="200">
      </mat-progress-spinner>
  </div>  


  <div>
    <span *ngFor="let swing of swings">
      <span [ngClass]="{'dot-full': swing === 1, 'dot-over': swing === 2}" class="dot">
      </span>
    </span>
  </div>

  <div *ngIf="showResults">

    <h1 class="text-block">{{resultsMessage}}</h1>

    <button class="text-block" mat-fab color="primary" (click)="nextHole()"><mat-icon>arrow_forward</mat-icon></button>
  </div>

</div>
