<div class="contents">

  <h1 class="app-title">Time Golf</h1>

  <div *ngIf="showHoleDetails">
    <div class="hole-number">
      Hole {{holeNumber}}
    </div>

    <div class="text-block">
        Par {{holePar}}
      </div>

    <div class="text-block">
        Course Length: {{holeTime}} Seconds
    </div>

    <button mat-raised-button color="primary" (click)="teeOff()">Tee Off</button>

  </div>

  <div *ngIf="showCourse">
    <mat-progress-spinner class="spinner" [value]="spinnerValue" [color]="spinnerColor"></mat-progress-spinner>

    <button mat-raised-button color="primary" class="text-block" (click)="swing()">Swing</button>
    <div class="text-block">
      Strokes: {{strokes}}
    </div>

    <div class="text-block">
        Course Length: {{holeTime}} Seconds
    </div>

  </div>

  <!-- <div *ngIf="showPutt">
    {{timeElapsed}}
  </div> -->

  <div *ngIf="showResults">
    <mat-progress-spinner class="spinner" [value]=100></mat-progress-spinner>

    <h1 class="text-block">{{resultsMessage}}</h1>

    <div class="text-block">
      Strokes: {{strokes}}
    </div>
    <div class="text-block penalty"*ngIf="penalty > 0">
      Overtime Penalty: {{penalty}}
    </div>

    <div class="text-block">
      Score: {{score+penalty}}
    </div>

    <button mat-raised-button color="primary" (click)="nextHole()">Next Hole</button>
  </div>

</div>
