@import '~@angular/material/theming';




// Define an alternate dark theme.
$dark-primary: mat-palette($mat-deep-orange);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the default theme styles.
@include angular-material-theme($dark-theme);